.nav{
    width: 25%;
    height: 700px;
    background-color: grey;
    float: left;
}
.header{
    background-color: yellowgreen;
    height: 100px;
    float: left;
    width: 75%;
}
.article{
    width: 50%;
    background-color: blue;
    height: 500px;
    float: left;
}
.aside{
    width: 25%;
    height: 500px;
    float: left;
    background-color: yellow;
}
.footer{
    width: 75%;
    background-color: yellowgreen;
    float: left;
    height: 100px;
}